---
layout: main.liquid
title: Om meg
section: about
---
<h1>Om meg</h1>
<p>Finn meg <a href="https://github.com/PenguinOfThunder">på GitHub</a>.</p>


<h3>Om denne siden</h3>
<p>Denne siden er:</p>
<ul>
    <li>Ligger på <a href="https://pages.github.com/" target="_blank">GitHub Pages{% icon "external-link" %}</a>.</li>
    <li>Bygget med <a href="https://www.11ty.dev" target="_blank">11ty{% icon "external-link" %}</a></li>
    <li>Stilet med <a href="https://picocss.com/" target="_blank">PicoCSS{% icon "external-link" %}</a></li>
    <li>Laget med ikoner fra <a href="https://lucide.dev/" target="_blank">Lucide{% icon "external-link" %}</a></li>
</ul>
