---
layout: main.liquid
title: Om meg
subtitle: Og denne siden
section: about
---
<p>Finn meg <a href="https://github.com/PenguinOfThunder">på GitHub</a>.</p>

<h2>Om denne siden</h2>
<p>Denne siden er:</p>
<ul>
    <li>Ligger på <a href="https://pages.github.com/" target="_blank">GitHub Pages{% icon "external-link" %}</a>.</li>
    <li>Bygget med <a href="https://www.11ty.dev" target="_blank">11ty{% icon "external-link" %}</a></li>
    <li>Stilet med <a href="https://picocss.com/" target="_blank">PicoCSS{% icon "external-link" %}</a></li>
    <li>Laget med ikoner fra <a href="https://lucide.dev/" target="_blank">Lucide{% icon "external-link" %}</a></li>
    <li>Favicon fra <a href="https://www.flaticon.com/free-icons/penguin" title="penguin icons">Flaticon</a></li>
</ul>
