---
title: Penguin Of Thunder sin hjemmeside
subtitle: Fordi GitHub Pages er gratis
layout: main.liquid
---
<h2>Velkommen!</h2>

Ta en titt på:

<a href="{{ "/projects" | locale_url }}">mine prosjekter</a>
eller
<a href="{{ "/posts" | locale_url }}">mine innlegg</a>.
