---
title: Prosjekter
layout: main.liquid
section: projects
---
<h1>Prosjekter</h1>

<p>Sjekk ut prosjektene mine på GitHub:</p>

<ul>
    <li>
        <a href="https://github.com/PenguinOfThunder/stepscalc"  target="_blank">Stepscalc{% icon "github" %}</a> - en web app som finner antall steg du trenger per dag for å nå ditt månedlige mål. 
        <a href="https://penguinofthunder.github.io/stepscalc/?lng=nb"  target="_blank">Demo{% icon "external-link" %}</a>
    </li>
    <li>
        <a href="https://github.com/PenguinOfThunder/wowbot"  target="_blank">Wowbot{% icon "github" %}</a> - en Discord bot som bringer Owen Wilson sine "wow" til din server
    </li>
</ul>
