---
title: Prosjekter
subtitle: Tilfeldige ting
layout: main.liquid
section: projects
---
<p>Sjekk ut prosjektene mine på GitHub:</p>

<dl>
    <dt>
        <a href="https://github.com/PenguinOfThunder/stepscalc"  target="_blank">Stepscalc{% icon "github" %}</a>
    </dt>
    <dd>
        En web app som finner antall steg du trenger per dag for å nå ditt månedlige mål.
        <a href="https://penguinofthunder.github.io/stepscalc/?lng=nb"  target="_blank">Demo{% icon "external-link" %}</a>
    </dd>
    <dt>
        <a href="https://github.com/PenguinOfThunder/wowbot"  target="_blank">Wowbot{% icon "github" %}</a>
    </dt>
    <dd>En Discord bot som bringer Owen Wilson sine "wow" til din server</dd>
</dl>
