---
layout: main.liquid
title: About me
subtitle: And this site
section: about
---
<p>Find me <a href="https://github.com/PenguinOfThunder">on GitHub</a>.</p>

<h2>About this site</h2>
<p>This site is:
    <ul>
    <li>Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages{% icon "external-link" %}</a>.</li>
    <li>Built with <a href="https://www.11ty.dev" target="_blank">11ty{% icon "external-link" %}</a></li>
    <li>Styled with <a href="https://picocss.com/" target="_blank">PicoCSS{% icon "external-link" %}</a></li>
    <li>Using icons from <a href="https://lucide.dev/" target="_blank">Lucide{% icon "external-link" %}</a></li>
    <li>Favicon from <a href="https://www.flaticon.com/free-icons/penguin" target="_blank" title="penguin icons">Flaticon{% icon "external-link" %}</a></li>
    </ul>
</p>
