---
title: Projects
layout: main.liquid
section: projects
---
<p>Check out my projects on GitHub:</p>

<ul>
    <li><a href="https://github.com/PenguinOfThunder/stepscalc)" target="_blank">Stepscalc{% icon "github" %}</a>: a tool to find the number of steps you need per day to reach your monthly goal: <a href="https://penguinofthunder.github.io/stepscalc/" target="_blank">Demo{% icon "external-link" %}</a>.</li>
    <li><a href="https://github.com/PenguinOfThunder/wowbot" target="_blank">Wowbot{% icon "github" %}</a>: a Discord bot that puts Owen Wilson's "wow" into your server</li>
</ul>