/* site.scss */
@use "node_modules/@picocss/pico/scss/pico" with (
  $theme-color: "blue"
);
@use "node_modules/prismjs/themes/prism-okaidia.css";

html[data-theme="dark"] [data-theme-selector="dark"] {
  color: var(--pico-primary);
}

html[data-theme="light"] [data-theme-selector="light"] {
  color: var(--pico-primary);
}

html:not([data-theme]) [data-theme-selector="system"] {
  color: var(--pico-primary);
}

.text-muted {
  color: var(--pico-muted-color);
}
.text-secondary {
  color: var(--pico-secondary-color);
}
.text-align-end {
  text-align: end;
}
.footnotes {
  font-size: smaller;
}
:target {
  color: var(--pico-mark-color);
  background-color: var(--pico-mark-background-color);
}
hgroup {
  margin-bottom: 0;
}
.active {
  color: var(--pico-contrast-color);
}
.nav-label {
  text-wrap: nowrap;
}
.post-date {
  font-size: smaller;
  color: var(--pico-muted-color);
  float: inline-end;
  clear: right;
}
// .post-tags {
//   float: right;
//   clear: right;
// }
/* Hide the nav-label on small screens */
@media (max-width: 576px) {
  .nav-label {
    display: none;
  }
  .post-date {
    float: none;
  }
  // .post-tags {
  //   float: none;
  // }
}

.topiclist {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.25em;
  gap: .25em;
}

.topic {
  flex: 1;
  // padding: .25em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: var(--pico-mark-background-color);
  color: var(--pico-mark-color);
  border-radius: 1em;
  font-size: 75%;
  font-weight: lighter;
  text-wrap: nowrap;
}

.excerpt {
  margin-top: 0;
  margin-bottom: 0.25em;
  padding: 0.25em;
}

#toc * {
  all: initial;
  color: var(--pico-color);
  font-style: normal;
  font-weight: var(--pico-font-weight);
  font-family: var(--pico-font-family);
  font-size: 16px;
}

#toc {
  margin-bottom: 1em;
}

#toc ol {
  list-style: none;
  padding-left: 0;
}

#toc li {
  list-style: none;
  padding-left: 1em;
  display: list-item;
}

#toc a {
  cursor: pointer;
}
