/* site.scss */
@use "node_modules/@picocss/pico/scss/pico" with (
  $theme-color: "blue"
);
@use "node_modules/prismjs/themes/prism-okaidia.css";

html[data-theme="dark"] [data-theme-selector="dark"] {
  color: var(--pico-primary);
}

html[data-theme="light"] [data-theme-selector="light"] {
  color: var(--pico-primary);
}

html:not([data-theme]) [data-theme-selector="system"] {
  color: var(--pico-primary);
}

.text-muted {
  color: var(--pico-muted-color);
}
.text-secondary {
  color: var(--pico-secondary-color);
}
.text-align-end {
  text-align: end;
}
.footnotes {
  font-size: smaller;
}
:target {
  color: var(--pico-mark-color);
  background-color: var(--pico-mark-background-color);
}
hgroup {
  margin-bottom: 0;
}
.active {
  color: var(--pico-contrast-color);
}
.nav-label {
    text-wrap: nowrap;
}
.post-date {
    font-size: smaller;
    color: var(--pico-muted-color);
    float: inline-end;
}
/* Hide the nav-label on small screens */
@media (max-width: 576px) {
  .nav-label {
    display: none;
  }
  .post-date {
    float: none;
  }
}
