{%- if not navless %}{% render "nav.liquid" page: page, section: section %}{% endif -%}    
<article>
<header>
{%- if title and subtitle -%}
    <hgroup>
    <h1>{{ title | escape }}</h1>
    <h2>{{ subtitle }}</h2>
    </hgroup>
{%- else -%}
{%- if title -%}<h1>{{ title | escape }}</h1>{%- endif -%}
{% endif %}
</header>