{% assign lang_links = page.url | locale_links %}
<details class="dropdown">
    <summary>{% icon "languages" %}</summary>
    <ul dir="rtl">{%- for link in lang_links -%}
        <li><a hreflang="{{link.lang}}" href="{{link.url}}">{{ link.lang | language_name }}</a></li>
    {%- endfor -%}</ul>
</details>