---
layout: bare.liquid
---
{%- render "header.liquid", page: page, navless: navless, section: section, title: title, subtitle: subtitle -%}
<main>{{ content }}</main>
{%- render "footer.liquid" page: page, common: common -%}